.cover{
    height: 100vh;
    background-image: url("../img/index-banner-2.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    .cover__content{
        text-align: center;
        h1{
            @include textStyle($white-0, $size-3 * 4, $fw-0);
            letter-spacing: $size-1;
            line-height: normal;
            margin-bottom: 0;
            text-transform: uppercase
        }
        h3{
            @include textStyle($white-0, $size-4, $fw-4);
            letter-spacing: $size-1 + 1;
            margin-bottom: 0;
            text-transform: uppercase;
        }
    }
}

@include responsive("medium"){
    .cover{
        .cover__content{
            h1{
                font-size: $size-6;
            }
            h3{
                font-size: $size-4 - 2;
            }
        }
    }
}