.hang {
    background-image: url("../img/8.jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    .hang__content {
        padding: $size-6 * 5;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: $size-1 - 2;
        span {
            @include textStyle($yellow-0, $size-3 + 1, $fw-1);
        }
        h1 {
            margin-bottom: $size-0;
            letter-spacing: $size-0 + 2px;
            @include textStyle($white-0, $size-7 + 1, $fw-4);
            line-height: $lh-0;
        }
        .hang__button{
            margin-top: $size-5 * 2;
            display: inline-block;
            width: 100%;
            a{
                background-color: $yellow-0;
                margin-right: $size-4;
                @include textStyle($white-0, $size-3 - 1, $fw-4);
                padding: $size-3 $size-6;
                letter-spacing: $size-0 + 1px;
                text-decoration: none;
                transition: all 0.5s;
                &:hover{
                    background-color: $white-0;
                    color: $black-2;
                }
            }
        }
    }
}

@include responsive("medium"){
    .hang{
        .hang__content{
            padding: $size-6 * 5 0; 
            span{
                font-size: $size-3 + 1;
            }
            h1{
                font-size: $size-5 + 1;
            }
        }
    }
}
